services:
  weather-service:
    build: .
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert_rules.yml:/etc/prometheus/alert_rules.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring
        
  grafana:
      image: grafana/grafana:latest
      ports:
        - "3000:3000"
      volumes:
        - ./grafana/provisioning:/etc/grafana/provisioning
        - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      environment:
        - GF_AUTH_ANONYMOUS_ENABLED=true
        - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      networks:
        - monitoring

networks:
  monitoring:
    driver: bridge