<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting propertyKey="@Properties.dateFormatDDMM" title="@Strings.SettingDateFormatTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.SettingDateFormatDDMM</listEntry>
            <listEntry value="0">@Strings.SettingDateFormatMMDD</listEntry>
        </settingConfig>
    </setting>
</settings>
